.DS_Store

__pycache__
*.pyc

*.fxs

.pyang
.venv

*.env
!example.env

.vscode/.ropeproject/

.ipython/
Library/
logs/
lux_logs/
ncs-cdb/
netsim/
scripts/
state/
target/
cisco-ios-cli-*

ncs.conf
README.ncs
README.netsim
storedstate
yang.settings

configs/backups/
configs/netsim-init.xml
