bandit
black
darglint
debugpy
ipython
isort
mypy
ncs_pycli
pycodestyle
pydantic
pydocstyle
pylint
pytest
rope
safety
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
